.toolbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1000;
    background-color: var(--toolbarBg);
    height: 340px;
    width: 50px;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.4rem black);
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 5%;
    transform: scale(0.85);
}

.toolbar button {

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;

}

#iconOne {
    width: 30px;
    height: 30px;
    /* margin-top: 10px; */

    /* margin: auto; */

}

#iconTwo {
    width: 22px;
    height: 22px;
}

#iconThree {
    width: 30px;
    height: 32px;
    /* margin: auto; */

}

#iconFour {
    width: 25px;
    height: 25px;
    background-color: #cb2b9b;
    /* or any color you prefer */
    border-radius: 50%;
    filter: drop-shadow(0 0 0.2rem black);

}

#iconFive{
    width: 25px;
    height: 25px;
    align-self: center;

}

#iconSix{
    width: 25px;
    height: 25px;
    align-self: center;

}

#iconSeven {
    width: 20px;
    height: 30px;
    align-self: center;


}